@model Web.Models.CreateSpecificRouteModel

@{
    ViewBag.Title = "CreateSpecificRoute";
}

<h2>CreateSpecificRoute</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CreateSpecificRouteModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VehicleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LicencePlate, new SelectList(Model.LicencePlates))
            </div>
        </div>

        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.RouteId)

        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RouteDetails", new { routeId = Model.RouteId, companyId = Model.CompanyId})
</div>
