@using Web.Models

@model RouteDetailsModel

@{
    ViewBag.Title = "RouteDetails";
}

<h2>RouteDetails</h2>

<p>
    @Html.ActionLink("Add new depart time", "CreateSpecificRoute", new { companyId = Model.CompanyId, routeId = Model.RouteId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Town")
        </th>
        <th>
            @Html.DisplayName("Name of station")
        </th>
        <th>
            @Html.DisplayName("Time to next station")
        </th>
        <th>
            @Html.DisplayName("Time from first station")
        </th>
        <th>
            @Html.DisplayName("Order of this station")
        </th>
        <th>
            @Html.DisplayName("Distance from previous station (km)")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Templates)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Stations[item.Order].Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Stations[item.Order].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToNextStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToNextStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFromFirstStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromPreviousStation)
            </td>
        </tr>
    }
</table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Depart times")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.DepartTimes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }

</table>

<div>
    @Html.ActionLink("Back to List", "CompanyRoutes", "Route", new { companyId = Model.CompanyId }, null)
</div>
