@model Web.Models.RouteListModel
@using X.PagedList.Mvc
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "CompanyRoutes";
}

<h2>CompanyRoutes</h2>

<p>
    @Html.ActionLink("Create New", "CreateRoute", new { companyId = Model.CompanyId})
</p>


@Html.HiddenFor(model => model.CompanyId)
<table class="table">
    <th>
        @Html.DisplayName("Route Name")
    </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Routes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteRoute", new { routeId = item.ID, companyId = Model.CompanyId }) |
                @if (!Model.HasTemplate[item.ID])
                {
                    @Html.ActionLink("Create Template", "GetStationCountForRouteTemplate", new { companyId = Model.CompanyId, routeId = item.ID })
                }
                else
                {
                    @Html.ActionLink("Route Details", "RouteDetails", "SpecificRoute", new { companyId = Model.CompanyId, routeId = item.ID }, null)
                }

            </td>
        </tr>
    }
</table>
<div class="col-md-12">
    @Html.PagedListPager(Model.Routes, page => Url.Action("CompanyRoutes", new { Model.CompanyId, page }))
</div>

<div>
    @Html.ActionLink("Back to List", "CompanyDetails", "Company", new { companyId = Model.CompanyId }, null)
</div>