@model Web.Models.VehicleListModel
@using X.PagedList.Mvc
@using System.Web.Mvc.Html
@using BL.DTOs.Vehicles

@{
    ViewBag.Title = "CompanyVehicles";
}

<h2>CompanyVehicles</h2>

<p>
    @Html.ActionLink("Create New", "CreateVehicle", new { companyId = Model.CompanyId })
</p>

<table class="table">
    <th>
        @Html.DisplayName("Licence Plate")
    </th>
    <th>
        @Html.DisplayName("Brand")
    </th>
    <th>
        @Html.DisplayName("Type of Vehicle")
    </th>
    <th>
        @Html.DisplayName("Number of Seats")
    </th>
    <th></th>
    </tr>

    @foreach (var item in Model.Vehicles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCount)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteVehicle", new { vehicleId = item.ID, companyId = Model.CompanyId })
            </td>
        </tr>
    }
</table>
<div class="col-md-12">
    @Html.PagedListPager(Model.Vehicles, page => Url.Action("CompanyVehicles", new { Model.CompanyId, page }))
</div>

<div>
    @Html.ActionLink("Back to List", "CompanyDetails", "Company", new { companyId = Model.CompanyId }, null)
</div>